* {
  margin: 0;
}

:root {
  --font-roboto: "Roboto Condensed", sans-serif;
  --font-ps2p: "Press Start 2P", system-ui;
  --bg-site: #0a0b15;
}

body {
  background-color: var(--bg-site);
  margin-left: 100px;
}
.roboto {
  font-family: var(--font-roboto);
}

.ps2p {
  font-family: var(--font-ps2p);
}

body > h1 {
  font-size: 44px;
}

body > h2 {
  font-size: 20px;
}
