* {
  margin: 0;
}

:root {
  --font-roboto: "Roboto Condensed", sans-serif;
  --font-ps2p: "Press Start 2P", system-ui;
  --bg-site: #0a0b15;
}

body {
  background-color: var(--bg-site);
  overflow-x: hidden;
}

body > header {
  padding-left: 100px;
}

body > section,
body > main {
  padding-left: 100px;
}

header .roboto {
  font-family: var(--font-roboto);
}

.ps2p {
  font-family: var(--font-ps2p);
}

.ps2p > h1 {
  font-size: 44px;
}

.ps2p > h2 {
  font-size: 20px;
}

body > h1 {
  font-size: 44px;
}

body > h2 {
  font-size: 20px;
}

.title {
  padding-bottom: 70px;
}
