@import "../style.css";

* {
  text-decoration: none;
  color: white;
}

header > img {
  width: 34px;
  height: 62px;
}

header {
  display: flex;
  margin: 4rem auto;
  /* justify-content: space-around; */
  gap: 30vw;
}

header > * {
  align-content: center;
}

.nav > * {
  margin: auto 2.5rem;
}

nav > *:hover {
  text-decoration: underline;
  cursor: pointer;
}
